<div class="h-100 w-100">
    <div class="d-flex flex-grow-1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum nostrum necessitatibus magni sequi
            corrupti praesentium dolore saepe itaque repellendus! Quis, placeat soluta magnam labore deserunt suscipit
            cupiditate assumenda quo.</p>
    </div>
</div>








<!-- <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel"
                required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    </form>
</mat-card> -->