mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

div.mat-mdc-dialog-surface {
    display: flex !important;
    /* Apply display: flex to the dialog content */
    /* Add other flex properties if needed */
}