/* general main components */

:host ::ng-deep h6.zx-main-title {
    margin: 0 6px 2px 6px;
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep h6.zx-main-title {
        margin: 0 10px 3px 10px;
    }
}

:host ::ng-deep span.zx-explanation-text {
    font-size: 14px;
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep span.zx-explanation-text {
        font-size: 12px;
    }
}

:host ::ng-deep h5.zx-switch-text,
span.zx-switch-text {
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 576px) {

    :host ::ng-deep h5.zx-switch-text,
    span.zx-switch-text {
        align-items: start;
        text-align: start;
    }
}

/* by-print-no btn */

:host ::ng-deep div.zx-by-print-no-container {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep div.zx-by-print-no-container {
        display: flex;
        gap: 3px;
        align-items: center;
    }
}

:host ::ng-deep img.zx-by-print-no-arrow {
    width: auto;
    height: 12px;
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep img.zx-by-print-no-arrow {
        width: auto;
        height: 15px;
    }
}

:host ::ng-deep span.zx-by-print-no-title {
    font-size: 12px;
    text-align: start;
    align-items: start;
    display: flex;
}


:host ::ng-deep button.zx-by-print-no-btn {
    color: var(--zx-green);
}

/* only for component */

.zx-canvas-inner {
    height: 80%;
    max-height: 400px;
}