<!-- <div #articleElements class="full-screen"></div> -->

<div class="full-screen overflow-hidden">
    <div class="d-flex flex-grow-1">
        <div class="zx-settings-nav flex-shrink h-100 d-flex flex-column overflow-hidden"
            [class.zx-settings-nav-dark]="isDarkMode">
            <article class="w-100 d-flex py-3 px-1 px-sm-2 flex-column overflow-auto" [class.bg-white]="!isDarkMode">
                <article class="w-100 d-flex flex-column gap-3 flex-grow-1">

                    <div class="zx-top-container-big w-100 d-flex justify-content-between align-items-center">
                        <h6 class="zx-main-title">
                            {{'choose-system.step-1' | translate}}
                        </h6>
                        <button mat-button color="primary" class="rounded-3 zx-by-print-no-btn">
                            <div class="zx-by-print-no-container">
                                <span class="zx-by-print-no-title">
                                    {{'choose-system.by-printer-number' | translate}}
                                </span>
                                <mat-icon *ngIf="isRTL">keyboard_arrow_left</mat-icon>
                                <mat-icon *ngIf="!isRTL">keyboard_arrow_right</mat-icon>
                            </div>
                        </button>
                    </div>

                    <div (click)="onChoosePrintingService('express')"
                        [class.zx-step-choosen]="printingService === 'express'"
                        class="step-item w-100 rounded-3 shadow-85 d-flex flex-column flex-sm-row justify-content-around justify-content-sm-start p-2 align-items-center"
                        matRipple [class.step-item-dark]="isDarkMode">
                        <img src="assets/images/express-icon.svg" alt="express Logo" class="p-3 zx-big-icon-size">
                        <div class="d-flex flex-column">
                            <h5 class="zx-title-text zx-switch-text"
                                [class.zx-text-primary]="printingService === 'express'">
                                {{'choose-system.title-express' | translate}}
                            </h5>
                            <span class="opacity-75 zx-explanation-text zx-switch-text"
                                [class.zx-text-primary]="printingService === 'express'">
                                {{'choose-system.explanation-express' | translate}}
                            </span>
                        </div>
                    </div>
                    <div (click)="onChoosePrintingService('plotter')"
                        [class.zx-step-choosen]="printingService === 'plotter'"
                        class="step-item w-100 rounded-3 shadow-85 d-flex flex-column flex-sm-row justify-content-around justify-content-sm-start p-2 align-items-center"
                        matRipple [class.step-item-dark]="isDarkMode">
                        <img src="assets/images/plotter-icon.svg" alt="plotter Logo" class="p-3 zx-big-icon-size">
                        <div class="d-flex flex-column">
                            <h5 class="zx-title-text zx-switch-text"
                                [class.zx-text-primary]="printingService === 'plotter'">
                                {{'choose-system.title-plotter' | translate}}
                            </h5>
                            <span class="opacity-75 zx-explanation-text zx-switch-text"
                                [class.zx-text-primary]="printingService === 'plotter'">
                                {{'choose-system.explanation-plotter' | translate}}
                            </span>
                        </div>
                    </div>
                    <div (click)="onChoosePrintingService('ph')" [class.zx-step-choosen]="printingService === 'ph'"
                        class="step-item w-100 rounded-3 shadow-85 d-flex flex-column flex-sm-row justify-content-around justify-content-sm-start p-2 align-items-center"
                        matRipple [class.step-item-dark]="isDarkMode">
                        <img src="assets/images/ph-icon.svg" alt="ph Logo" class="p-3 zx-big-icon-size">
                        <div class="d-flex flex-column">
                            <h5 class="zx-title-text zx-switch-text" [class.zx-text-primary]="printingService === 'ph'">
                                {{'choose-system.title-ph' | translate}}
                            </h5>
                            <span class="opacity-75 zx-explanation-text zx-switch-text"
                                [class.zx-text-primary]="printingService === 'ph'">
                                {{'choose-system.explanation-ph' | translate}}
                            </span>
                        </div>
                    </div>

                </article>
                <div class="w-100 opacity-50">
                    <hr>
                    <h6 class="zx-main-title">
                        {{'choose-system.step-2' | translate}}
                    </h6>
                </div>
                <div class="w-100 opacity-50">
                    <hr>
                    <h6 class="zx-main-title">
                        {{'choose-system.step-3' | translate}}
                    </h6>
                </div>

            </article>
            <div class="w-100 p-2 shadow-85-strong">
                <button type="button" mat-raised-button color="primary" [disabled]="printingService === ''"
                    [matTooltip]="tooltipContent" class="text-white rounded-pill w-100"
                    (click)="!isPrintingServiceEmpty() && onUserStep()">
                    {{ 'choose-system.continue' | translate }}
                </button>
            </div>
        </div>

        <div class="d-none d-md-flex h-100 flex-grow-1 justify-content-center align-items-center">
            <article
                class="zx-canvas shadow-85 rounded-3 d-flex justify-content-center align-items-center position-relative"
                [class.zx-canvas-dark]="isDarkMode">
                <div *ngIf="printingService !== ''"
                    class="zx-canvas-inner d-flex justify-content-between align-items-center flex-column w-100 px-5">
                    <h5 class="d-lg-none text-center">
                        {{ 'choose-system.title-' + printingService | translate }}
                    </h5>
                    <div class="w-100 d-none d-lg-flex">
                        <button type="button" mat-stroked-button color="primary"
                            class="rounded-pill w-100 zx-border-green"
                            (click)="!isPrintingServiceEmpty() && onUserStep()">
                            {{ 'choose-system.btn-tooltip-' + printingService | translate }}
                        </button>
                    </div>
                    <img [src]="'assets/images/' + printingService + '-icon.svg'" [alt]="printingService + ' Logo'"
                        class="zx-big-icon-size d-none d-md-flex">
                    <p class="text-center"> {{ 'choose-system.explanation-' + printingService |
                        translate }}</p>
                </div>
            </article>
        </div>
    </div>
</div>