/* general main components */

:host ::ng-deep h6.zx-main-title {
    margin: 0 6px 2px 6px;
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep h6.zx-main-title {
        margin: 0 10px 3px 10px;
    }
}

:host ::ng-deep span.zx-explanation-text {
    font-size: 14px;
}

@media only screen and (min-width: 576px) {
    :host ::ng-deep span.zx-explanation-text {
        font-size: 12px;
    }
}

:host ::ng-deep h5.zx-switch-text,
span.zx-switch-text {
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 576px) {

    :host ::ng-deep h5.zx-switch-text,
    span.zx-switch-text {
        align-items: start;
        text-align: start;
    }
}