<!-- <div #articleElements class="full-screen"></div> -->

<div class="full-screen overflow-hidden">
    <div class="d-flex flex-grow-1">
        <div class="zx-settings-nav h-100 d-flex flex-column overflow-auto" [class.zx-settings-nav-dark]="isDarkMode">
            <article class="w-100 d-flex py-3 px-1 px-sm-2 flex-column overflow-auto">
                <article class="w-100 d-flex flex-column gap-3 flex-grow-1">

                    <div class="w-100">
                        <div class="w-100 d-flex justify-content-between align-items-center px-1 gap-2 c-pointer"
                            (click)="goToHome()">
                            <div matRipple
                                class="flex-grow-1 flex-md-grow-0 px-3 py-2 rounded-2 zx-border-pink-v-v-light"
                                [class.zx-border-green]="isDarkMode">
                                <div class="d-flex align-items-center gap-2">
                                    <img [src]="'assets/images/' + printingService + '-icon.svg'"
                                        alt="choosen printing system icon" class="zx-small-icon-size">
                                    <span class="zx-explanation-text">
                                        {{ "choose-system.title-short-" + printingService | translate }}
                                    </span>
                                    <span class="spacer d-md-none"></span>
                                    <img *ngIf="!isDarkMode" src="/assets/images/tiny-arrow-icon.svg"
                                        class="svg zx-tiny-icon-size c-pointer">
                                    <img *ngIf="isDarkMode" src="/assets/images/tiny-arrow-icon-green.svg"
                                        class="svg zx-tiny-icon-size c-pointer">
                                </div>
                            </div>
                            <div class="px-2 d-flex justify-content-center">
                                <img *ngIf="!isDarkMode" src="assets/images/chainge-icon.svg"
                                    class="svg zx-small-icon-size">
                                <img *ngIf="isDarkMode" src="assets/images/chainge-icon-green.svg"
                                    class="svg zx-small-icon-size">
                            </div>
                        </div>
                        <div class="w-100 opacity-50 mt-3">
                            <hr class="m-0">
                        </div>
                    </div>

                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <h6 class="zx-main-title">
                            {{'choose-system.step-2' | translate}}
                        </h6>
                    </div>

                    <div *ngFor="let createdBranch of filteredBranches" (click)="onChooseBranch(createdBranch.name)"
                        [class.zx-step-choosen]="branch === createdBranch.name"
                        class="step-item w-100 rounded-3 shadow-85 d-flex flex-column flex-sm-row justify-content-around justify-content-sm-start p-2 align-items-center"
                        matRipple [class.step-item-dark]="isDarkMode">
                        <div class="rounded-2 zx-big-icon-size p-3">
                            <img [src]="'assets/images/branch/' + createdBranch.name + '.png'"
                                [alt]="createdBranch.name  + ' Logo'" class="w-100 h-100">
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="zx-title-text zx-switch-text"
                                [class.zx-text-primary]="branch === createdBranch.name">
                                {{ "choose-branch.naming." + createdBranch.name | translate }}
                            </h5>
                            <span class="opacity-75 zx-explanation-text zx-switch-text"
                                [class.zx-text-primary]="branch === createdBranch.name">
                                {{ "choose-branch.city." + createdBranch.name | translate }}
                            </span>
                        </div>
                    </div>

                    <div class="w-100 opacity-50">
                        <hr>
                        <h6 class="zx-main-title">
                            {{'choose-system.step-3' | translate}}
                        </h6>
                    </div>

                </article>
            </article>
            <div class="w-100 p-2 shadow-85-strong">
                <button type="button" mat-raised-button color="primary" [disabled]="branch === ''"
                    class="text-white rounded-pill w-100">
                    {{ 'choose-system.continue' | translate }}
                </button>
            </div>
        </div>

        <div class="d-none d-md-flex h-100 flex-grow-1 justify-content-center align-items-center">
            <article
                class="zx-canvas shadow-85 rounded-3 d-flex justify-content-center align-items-center position-relative"
                [class.zx-canvas-dark]="isDarkMode">
            </article>
        </div>
    </div>
</div>