:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}




/* main-nav.component.scss */
.sidenav-container {
  /* Ensure the sidenav-container takes the full viewport height */
  display: flex;
}

/* post-list.component.scss */
.fill-height {
  flex: 1;
  /* Fill remaining space in the flex container (main-nav) */
  overflow-y: auto;
  /* Enable vertical scrolling when content exceeds height */
  background-color: aqua;
  /* Set aqua background color */
  width: 100%;
}